
body {
    margin : 0;
}

main {
    margin : auto;

}

#map {
    position : relative;
    width : 700px;
    height : 500px;
    margin : auto;

}

.wall{
    position : absolute;
    width : 50px;
    height : 50px;
    background-image : url('../medias/wall-d.svg');
    
}

.explosion{
    position : absolute;
    width : 50px;
    height : 50px;
    
}


.floor{
    position : absolute;
    width : 50px;
    height : 50px;
    z-index : -10;
}

#bomb {
    position : absolute;
    background-image : url('../medias/bomb.svg');
    display : none;
    width : 50px;
    height : 50px;
}

#bomberman {
    position : absolute;
    width : 50px;
    height : 50px;
    background-image : url('../medias/bomberman.svg');
    top : 50px;
    left : 50px;
} 

#monster{
    position : absolute;
    background-image : url('../medias/monster.svg');
    width : 50px;
    height : 50px;
    top : 100px;
    left : 100px; 
}

.timer{
    
    position : absolute;
    /* width : 30px;
    height : 30px; */
    top : 10px;
    left : 10px;
    color:red;
    z-index:100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}
#gameover{
    position: absolute;
    display: none;
    width : 300px;
    height : 100px;
    top: 150px;
    left:250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:70px;
    z-index:1000;
    
}
.blink {
    color:red; 
    animation: colorblink 0.08s infinite;
    }
    @keyframes colorblink { 
    0% { }
    25% { color:green; } 
    25% { color:rgb(38, 0, 255); }
    10% { color:rgb(255, 255, 255); } 
    10% { color:rgb(200, 170, 0)}
    }
    